{% extends 'base.html' %}

{% block content %}

<div class="row p-3 mb-2 bg-light rounded-3">
    <div class="col-md-8">
        <div class="py-3">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p>{{ticket.ticket_description}}</p>
            {% if ticket.status == 'Pending' %}
            <span class="badge bg-primary text-white">Pending</span>
            {% elif ticket.status == 'Active' %}
            <span class="badge bg-success text-white">Active</span>
            {% elif ticket.status == 'Resolved' %}
            <span class="badge bg-danger text-white">Resolved</span>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="py-3">
                    <h2 class="display-6">Quick Info</h2>
                    <p>Quick information about the ticket and the customer:</p>
                    <ul class="icon-list">
                        <li><b>Ticket ID:</b> #{{ticket.ticket_id}}</li>
                        <li><b>Customer:</b> {{ticket.customer}}</li>
                        <li><b>Engineer:</b> {{ticket.engineer}}</li>
                        <li><b>Date:</b> {{ticket.created_on}}</li>
                        <li><b>Priority:</b> {{ticket.severity}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if ticket.is_resolved %}
<div class="card">
    <div class="card-body">
       {{ticket.resolution_steps}}
    </div>
</div>
{% else %}
{% if request.user.is_engineer %}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Resolution Steps</h5>
        <form action="{% url 'resolve-ticket' ticket.ticket_id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea2" class="form-label">Here is how the issue was resolved</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" name="rs"></textarea>
            </div>
        
            <!-- Add a submit button -->
            <button type="submit" class="btn btn-primary">Resolve Ticket</button>
        </form>
        
    </div>
</div>
{% endif %}
{% endif %}

{% endblock content %}
